.box {
  border-radius: 5px;
  background-color: #ffffffcc;
  padding: 20px;
  margin: auto;
  min-height: 300px;
  margin-top: 5%;
  max-width: 90%;
}

.title {
  color: rgb(158, 103, 63);
  font-family: monospace;
}
.h4 {
  margin-top: 10%;
  color: rgb(16, 96, 233);
}

@media only screen and (max-width: 600px) {
  .box {
    margin-top: 15%;
    width: 95% !important;
    height: 90%;
  }

  .title {
    margin-top: 10%;
  }
  .h4 {
    margin-top: 20%;
  }
}
